---

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  anchors: enable
  braces: enable
  brackets: enable
  colons: enable
  commas: enable
  comments: disable                # оставить комментарии
  comments-indentation:
    level: warning
  document-end: disable
  document-start:
    level: warning
  empty-lines: enable
  empty-values: disable
  float-values: disable
  hyphens: enable
  indentation: enable
  key-duplicates: enable
  key-ordering: disable
  line-length: disable              # длина строк
  new-line-at-end-of-file: enable
  new-lines: disable                # чушь
  octal-values: disable
  quoted-strings: disable
  trailing-spaces: enable
  truthy:
    level: warning

ignore:
  - group_vars/all/vars.yml
  - ansible.cfg
  - README.md
  - roles/prometheus/files/prometheus.yml
